/* Logout Button */
.logout-btn {
    background-color: #dc3545; /* Red color */
    padding: 12px 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.logout-btn:hover {
    background-color: #b02a37; /* Darker red */
}
